
*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    background: #eaebef;
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 100%;
}

.nav_link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav_link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav_link--inside:hover{
    background: #d6d6d6;
}

.list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    background: #fff;

}

.list_item{
    list-style: none;
    width: 100%;
    text-align:center;
    overflow: hidden;
}

.list_item--click{
    cursor: pointer;
}

.list_button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list_arrow{
    transform: rotate(90deg);
}

.list_arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list_show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}


.list_img{
    border-radius: 50%;
    background: none;
}


.contenedor_global_superior{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3.7fr;
    background-color: rgb(202, 202, 202);
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    background-image: url("images/superficie-gris-creativa-cuadrados_23-2148327028.avif");
}

.contenedor_derecha{
    background-color: rgb(255, 255, 255);
    margin: 1px;
    border-radius: 16px;
    height: auto;
    position: relative;
    max-height: 100%;
    padding: 2%;
    
    

}

.contenedor_global_inferior{
    width: 100%;
    height: 100px;
    background-color: rgb(110, 112, 133);
    border-radius: 16px;
    display: flex;
    gap: 2px;
    align-items: center;
    color: #fff;
    margin-top: 3%;
}

.foot{
    display: flex;
    gap: 15px;
    justify-content:end;
}

.relevante{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.contenido_der{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2%;
    padding: 2%;
    margin-bottom: 2%;
}

.contenido_izq{
    width: 100%;
    height: auto;
    background-color: rgb(99, 99, 99);
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2%;
    padding: 2%;
    margin-bottom: 2%;
}

.contenedor_titulo{
    text-align: center;
    padding-top: 25%;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    font-family: 'Lobster';
    font-size: 51px;
    border-radius: 16px;
    padding: 10%;
}

.argumento{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 5%;
    text-align: justify;
    border-radius: 20px;
}

.contenedor_izquierda{
    padding: 7%;
}

.contenedor_galeria{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.bloque_imagenes{
    padding: 1%;
    text-align: center;
    
}
.bloque_imagenes img{
    width: 49%;
}


.contenedor_btn_galeria{
    padding: 5%;
}


.btn_galeria{
    background-color: #303440;
    width: auto;
    font-family: 'Lobster';
    font-size: 27px;
    padding: .05% 3% .05% 3%;
    border-radius: 35px;
    color: #fff;
    transition: .25s;
}
.btn_galeria:hover{
    background-color: #000000;
    font-size: 37px;
    color: #ffffff;
    border-style: outset;
    transition: .4s;
}

.contenedor_modal{
    background-color: rgb(0, 0, 0, .8);
    padding: 1%;
    width: 100vw;
    height: 100vh;
    transform: scale(0);
    transition: transform .4s;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;


    
    
}
.Modal{
    width: 1500px;
    height: auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
    border-radius: 16px
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: content;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    align-items: center;
    bottom: 20px;
    left: 40%;
    transform: translateX(10%);
    z-index: 1;

}

.slider-nav a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    border: #000000 solid 3px;
    opacity: .75;
    transition: opacity ease 250ms;
    

}

.slider-nav a:hover{
    opacity: 100%;
}

.modal--show{
    transform: scale(1);
}

.contenedor_cerrar_modal{
    text-align: right;
    padding: 0 0 20px 0;
}

.btn_cerrar_modal{
    font-size: x-large;
    align-items: center;
    background-color: #303440;
    width: auto;
    font-family: 'Lobster';
    font-size: 27px;
    padding: .05% 3% .05% 3%;
    border-radius: 35px;
    color: #fff;
}

.btn_cerrar_modal:hover{
    background-color: #ffffff;
    font-size: 40px;
    color: #000000;
    border-style: outset;
    transition: .4s;
